.submenu-m {
  display: none;
 }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: black;
  box-shadow: 0 0 10px black;
}

.logo {
  font-size: 3.3em;
  color: white;
  letter-spacing: -3px;
  text-transform: lowercase;
}

.logo span:first-child {
  color: #1d52ff;
}

.logo span:last-child {
  font-size: 0.4em;
  letter-spacing: normal;
}

.menu-m {
  display: none;
}

        /*MENU*/
.menu {
  display: flex;
}

.menu > li {
  position: relative;
}

.menu > li a {
  padding: 17px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.menu > li:hover {
  background: #1d52ff;
}

.menu > li:hover > .submenu,
.submenu > li:hover > .submenu {
  display: block;
}

          /*SUBMENU*/
.submenu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background: #3276fb;
  min-width: 110%;
}

.submenu2 li:hover {
  background: #174fbe;
}

.submenu li {
  position: relative;
}

.submenu li .submenu {
  top: 0;
  left: 100%;
}

/*MENU-MOBILE*/
@media (max-width: 900px) {
  .menu {
    display: none;

  }

 .menu-m  {
    display: block;

  }

  .submenu-m {
    display: none;
  }

  .submenu2-m {
    display: none;
  }


   .menu-m > li a {
    padding: 17px;  
    background: #3276fb;            
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: block;
    
  
  }
 .menu-m > li a:hover {
    background-color:#1d52ff;
  }
  
  .menu-m > li:hover > .submenu-m,
  .submenu-m > li:hover > .submenu-m,
  .submenu-m >li:hover > .submenu2-m,
  .submenu2-m >li:hover > .submenu2-m {
    display: block;
  }


  .submenu2 li:hover {
    background-color:#1d52ff;
  }
 
  .submenu-m li {
    position: relative;
  }

.submenu-m {
  display:  none;
  position: absolute;
  top: 50px;
  right: 0px;
  background: #3276fb;

} 

.submenu2-m li {
  position: relative;
}

.submenu2-m {
  display:  none;
  position: absolute;
  top: 0;
  right:100%;
  background: #3276fb;

}  

/* 
 
  
  
     
  
 
  
  
 
  
  .submenu-m li:hover {
    background: #174fbe;
  }
  
  .submenu-m li {
    position: relative;
  }
  
  .submenu-m li .submenu-m {
    top: 0;
    right: 100%;
  }*/
 
  
}





